  
  <h3>Your Exercises for {{workout.workoutDay | date: "MMMM d" }}</h3>
  
<mat-nav-list *ngFor="let w of workout.workoutExercises">
   
   <li>{{w.exercise.title}}- {{w.exercise.description}}
  <span><mat-icon type="button" (click)="delete1Exercise(w.id)">delete</mat-icon></span> </li>
   
   <br>
    
  </mat-nav-list>
  <h5 *ngIf ="workout.workoutExercises.length== 0">
    No exercises added</h5>
    <br>
    <div class=" exerciseL d-flex flex-row flex-wrap" *ngIf="showExercise">
     
     
    <div class="m-1" *ngFor="let e of exercises" >
      <button mat-raised-button class="buttonex"  (click)="addExerciseToDay(e)">{{e.title}}</button>
      
    </div>
    <br>
    <button mat-raised-button class="btn-info" (click)="hideExercises()">Hide</button>
    </div>
  <!-- </Box> -->
  




    
    <button  mat-raised-button (click)="showExercises()">Choose exercise</button>

<!-- 
    <select [(value)]="newExerciseAdd.exercise" formControlName="workout">
      <option mat-raised-button [value]="e.id" [(ngModel)]="newExerciseAdd.exercise" *ngFor="let e of exercises" (click)="addExerciseToDay(e)">{{e.title}}</option>
      </select> -->