  
  <h3>Your Exercises for {{workout.workoutDay | date: "MMMM d" }}</h3>
  
<mat-nav-list *ngFor="let w of workout.workoutExercises">
   
   <li>{{w.exercise.title}}- {{w.exercise.description}}</li>
  
   <br>
    
  </mat-nav-list>
  <h5 *ngIf ="workout.workoutExercises.length== 0">
    No exercises added</h5>
    <br>
    <div *ngIf="showExercise">
    <div  *ngFor="let e of exercises" >
      <button mat-raised-button class="buttonex"  (click)="addExerciseToDay(e)">{{e.title}}</button>
      
    </div>
    <button mat-raised-button class="btn-sm" (click)="hideExercises()">Hide</button>
    </div>
  <!-- </Box> -->
  




    
    <button  mat-raised-button (click)="showExercises()">Choose exercise</button>

<!-- 
    <select [(value)]="newExerciseAdd.exercise" formControlName="workout">
      <option mat-raised-button [value]="e.id" [(ngModel)]="newExerciseAdd.exercise" *ngFor="let e of exercises" (click)="addExerciseToDay(e)">{{e.title}}</option>
      </select> -->