<h1 id="tableLabel">Exercises</h1>

<p *ngIf="!exercises"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="exercises">
  <thead>
    <tr>
      <th>Exercise</th>
      <th>Description</th>
      <th>Type of workout</th>
      <th>Calories burned</th>
  
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let e of exercises">
      <td>{{ e.title }}</td>
      <td>{{ e.description }}</td>
      <td>{{ e.workoutType.title }}</td>
      <td>{{ e.calories }}</td>
   
      <button mat-raised-button (click)="deleteWorkout(e.id)">d</button>
    </tr>
  </tbody>
</table>

<form class="example-form">
  <mat-form-field class="example-full-width">
  
   
    <mat-label>Title</mat-label>
<input matInput [(ngModel)]="newExercise.title" name="title" placeholder="name of workout"/>
</mat-form-field>

<mat-form-field class="example-full-width">
<mat-label>Description</mat-label>
<input matInput [(ngModel)]="newExercise.description" name="description" placeholder="Sets? How many?" />
</mat-form-field>


<mat-form-field class="example-full-width">
  <mat-label>Type of Exercise</mat-label>
  <input matInput [(ngModel)]="newExercise.exerciseTypeId" name="exerciseType" placeholder="legs, arms, core..?" />

  <select [(ngModel)]="newExercise.exerciseTypeId" >
  <option *ngFor="let e of newExercise.workoutType"[value]="e.exerciseTypeId">{{ e.workoutType.title}}</option>
</select>  
</mat-form-field>

  

    <mat-form-field class="example-full-width">
      <mat-label>Calories Burned</mat-label>
      <input matInput type="number" [(ngModel)]="newExercise.calories" name="calories" placeholder="How many calories will this burn" />
      </mat-form-field>







<button mat-raised-button (click)="saveWorkout()">Save</button>

</form>


