<h1 id="tableLabel">Exercises</h1>

<p *ngIf="!exercises"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="exercises">
  <thead>
    <tr>
      <th>Exercise</th>
      <th>Description</th>
      <th>Type of workout</th>
      <th>Calories burned</th>
  
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let e of exercises">
      <td>{{ e.title }}</td>
      <td>{{ e.description }}</td>
      <td>{{ e.workoutType.title }}</td>
      <td>{{ e.calories }}</td>
   
      <button mat-raised-button (click)="deleteWorkout(e.id)">d</button>
    </tr>
  </tbody>
</table>

<form name="exerciseForm">
  <mat-form-field class="example-full-width">
  
   
    <mat-label for="title">Title</mat-label>
<input matInput [(ngModel)]="newExercise.title" name="title" placeholder="name of workout"/>
</mat-form-field>

<mat-form-field class="example-full-width">
<mat-label for="description">Description</mat-label>
<input matInput [(ngModel)]="newExercise.description" name="description" placeholder="Sets? How many?" />
</mat-form-field>




<mat-form-field>
  <mat-label>Type</mat-label>
  <mat-select>
    <mat-option [value]="e.id"[(ngModel)]="newExercise.workoutType" *ngFor="let e of ET" name="type">{{e.title}}</mat-option>
  
  </mat-select>
</mat-form-field>

<!-- <mat-form-field>
<mat-select matNativeControl 
*ngFor="let e of newExercise.workoutType"  [(ngModel)]="newExercise.exerciseTypeId" [formControl]="newExercise">
  <mat-option [value]="e.workoutType.title" [workoutType]="newExercise.workoutType">{{ e.workoutType.title}}</mat-option>
</mat-select>  
</mat-form-field> -->

<!-- <mat-form-field appearance="fill">
  <mat-label>Select</mat-label>
  <mat-select>
    <mat-option value="option">Option</mat-option>
  </mat-select>
</mat-form-field> -->
  

    <mat-form-field class="example-full-width">
      <mat-label for="title">Calories Burned</mat-label>
      <input matInput type="number"  [(ngModel)]="newExercise.calories" name="calories" placeholder="How many calories will this burn" />
      </mat-form-field>




<button mat-raised-button (click)="saveWorkout()">Save</button>

</form>


